<h1>Administrar...</h1>
<hr>
<h6>Agrega juegos y consolas a tu colección:</h6>
<button type="submit" class="btn btn-outline-primary" (click)="toggle_edit_status()">
  {{ is_editing_console ? 'Registrar un juego' : 'Registrar una consola' }}
</button>
<hr>
<app-form-consola *ngIf="is_editing_console"></app-form-consola>
<app-form-juego *ngIf="!is_editing_console"></app-form-juego>


<!-- <button type="submit" class="btn btn-outline-primary" [disabled]="!formulario.valid && attemptedToPublish">Guardar</button> -->
<!-- TODO agregar logica - single button - llama un metodo u otro dependiendo que se esta agregando -->
<!-- <button type="submit" class="btn btn-primary" [disabled]="true">Guardar</button> -->
