<div class="container">
  <div class="row">
    <div class="col">
      <h2>Agregar juego:</h2>
    </div>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>


      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">Nombre:</label>
        </div>
        <div class="input-group col-md-6">
          <input class="form-control" type="text"
                 formControlName="nombreJuego"
                 [ngClass]="{ 'is-invalid' : !formulario.get('nombreJuego').valid && attemptedToPost}" 
                 [(ngModel)] = "game.gameName"/>
        </div>
      </div>
      <div *ngIf="formulario.controls['nombreJuego'].errors?.required && attemptedToPost"
        class="form-control-feedback">
          El campo no puede quedar en blanco
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">Desarrollador:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text"
                 formControlName="desarrollador"
                 [ngClass]="{ 'is-invalid' : !formulario.get('desarrollador').valid && attemptedToPost}"
                 [(ngModel)] = "game.developer" />
        </div>
      </div>
      <div *ngIf="formulario.controls['desarrollador'].errors?.required && attemptedToPost"
        class="form-control-feedback">
          El campo no puede quedar en blanco
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">Fecha de lanzamiento:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text"
                 formControlName="fechaLanzamiento"
                 [ngClass]="{ 'is-invalid' : !formulario.get('fechaLanzamiento').valid && attemptedToPost}" 
                 [(ngModel)] = "game.releaseDate"/>
        </div>
      </div>
      <div *ngIf="formulario.controls['fechaLanzamiento'].errors?.required && attemptedToPost"
        class="form-control-feedback">
          El campo no puede quedar en blanco
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">URL de la imagen:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text"
                 formControlName="urlImagen"
                 [ngClass]="{ 'is-invalid' : !formulario.get('urlImagen').valid && attemptedToPost}" 
                 [(ngModel)] = "game.image" />
        </div>
      </div>
      <div *ngIf="formulario.controls['urlImagen'].errors?.required && attemptedToPost"
        class="form-control-feedback">
          El campo no puede quedar en blanco
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">(ID) de la consola:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text"
                 formControlName="idConsola"
                 [ngClass]="{ 'is-invalid' : !formulario.get('idConsola').valid && attemptedToPost}" 
                 [(ngModel)] = "game.consoleID"/>
        </div>
      </div>
      <div *ngIf="formulario.controls['idConsola'].errors?.required && attemptedToPost"
        class="form-control-feedback">
          El campo no puede quedar en blanco
      </div>


    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary">Registrar</button>
      </div>
    </div>
  </form>

</div>
