<div class="container">
  <div class="row">
    <div class="col">
      <h2>Agregar consola:</h2>
    </div>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>


      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">?ID consola?</label>
        </div>
        <div class="input-group col-md-6">
          <input class="form-control" type="text" formControlName="idConsola" />
        </div>
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">Nombre:</label>
        </div>
        <div class="input-group col-md-6">
          <input class="form-control" type="text" formControlName="nombre" />
        </div>
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">Descripción:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text" formControlName="descripcion" />
        </div>
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">Características:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text" formControlName="caracteristicas" />
        </div>
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">URL de la imagen:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text" formControlName="urlImagen" />
        </div>
      </div>



    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary">Registrar</button>
      </div>
    </div>
  </form>

</div>
