<div class="container">
  <div class="row">
    <div class="col">
      <h2>Agregar consola:</h2>
    </div>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>
      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">Nombre:</label>
        </div>
        <div class="input-group col-md-6">
          <input class="form-control" type="text"
                 formControlName="nombre"
                 [ngClass]="{ 'is-invalid' : !formulario.get('nombre').valid && attemptedToPost }"
                 [(ngModel)] = "consola.consoleName" />
        </div>
      </div>
      <div *ngIf="formulario.controls['nombre'].errors?.required && attemptedToPost"
        class="form-control-feedback">
          El campo no puede quedar en blanco
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">Descripción:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text"
                 formControlName="descripcion"
                 [ngClass]="{ 'is-invalid' : !formulario.get('descripcion').valid && attemptedToPost }" 
                 [(ngModel)] = "consola.description"/>
        </div>
      </div>
      <div *ngIf="formulario.controls['descripcion'].errors?.required && attemptedToPost"
        class="form-control-feedback">
          El campo no puede quedar en blanco
      </div>
      <div *ngIf="formulario.controls['descripcion'].errors?.maxlength && attemptedToPost"
        class="form-control-feedback">
          Mantenlo debajo de 30 caracteres, por favor
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">Características:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text"
                 formControlName="caracteristicas"
                 [ngClass]="{ 'is-invalid' : !formulario.get('caracteristicas').valid && attemptedToPost }" 
                 [(ngModel)] = "consola.features"/>
        </div>
      </div>
      <div *ngIf="formulario.controls['caracteristicas'].errors?.required && attemptedToPost"
        class="form-control-feedback">
          El campo no puede quedar en blanco
      </div>
      <div *ngIf="formulario.controls['caracteristicas'].errors?.maxlength && attemptedToPost"
        class="form-control-feedback">
          Mantenlo debajo de 30 caracteres, por favor
      </div>

      <div class="form-group row">
        <div class="input-group col-md-2">
          <label class="form-label">URL de la imagen:</label>
        </div>
        <div class="input-group col-md-8">
          <input class="form-control" type="text"
                 formControlName="urlImagen"
                 [ngClass]="{ 'is-invalid' : !formulario.get('urlImagen').valid && attemptedToPost }"
                 [(ngModel)] = "consola.image" />
        </div>
      </div>
      <div *ngIf="formulario.controls['urlImagen'].errors?.required && attemptedToPost"
        class="form-control-feedback">
          El campo no puede quedar en blanco
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button class="btn btn-outline-primary">Registrar</button>
      </div>
    </div>
  </form>

</div>
